<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/asserts/css/myStyle.css">
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>

    <title>成绩上传</title>
</head>
<body>


<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui segment">
            <div class="none" id="loader">
                <div class="ui text loader">正在计算成绩，请稍后...</div>
            </div>
            <div class="ui container">
                <h1 class="ui orange header">成绩上传</h1>
                <table class="ui inverted table">
                    <thead>
                    <tr>
                        <th class="center aligned">学号</th>
                        <th class="center aligned">姓名</th>
                        <th class="center aligned">行政班级</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="center aligned">080214036</td>
                        <td class="center aligned">李子明</td>
                        <td class="center aligned">2018级物理学二班</td>
                    </tr>
                    </tbody>
                </table>
                <div class="ui divider"></div>
                <form class="ui large form" name="form" method="post">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0">
                        <label>没有实验部分</label>
                    </div>
                    <br><br><br>
                    <div class="three fields">
                        <div class="field">
                            <label>平时成绩</label>
                            <div class="ui right labeled input">
                                <input type="text" id="_01">
                                <div class="ui right corner label">30%</div>
                            </div>
                        </div>
                        <div class="field">
                            <label>实验成绩成绩</label>
                            <div class="ui right labeled input">
                                <input type="text" id="_02">
                                <div class="ui right corner label">30%</div>
                            </div>
                        </div>
                        <div class="field">
                            <label>卷面成绩</label>
                            <div class="ui right labeled input">
                                <input type="text" id="_03">
                                <div class="ui right corner label">40%</div>
                            </div>
                        </div>

                    </div>
                    <div class="field">
                        <label>总成绩</label>
                        <input type="text" id="_04" readonly>
                    </div>
                    <br><br>
                    <div id="button1" class="ui large orange button" onclick="sendAJAX()">计算总分</div>
                    <a id="button2" class="ui large green button" onclick="modal()">上传成绩</a>
                </form>
            </div>
        </div>
        <div class="ui tiny modal">
            <div class="header">确认上传</div>

            <div class="content">
                <div class="ui floating orange message">成绩一旦上传后无法更改，请确认!</div>
                <div>学号：<span>080214036</span>&nbsp;&nbsp;姓名: <span>李子明</span>的成绩如下：</div>
                <table class="ui center aligned table">
                    <thead>
                        <tr>
                            <th class="center aligned">平时成绩</th>
                            <th class="center aligned">平时成绩</th>
                            <th class="center aligned">平时成绩</th>
                            <th class="center aligned">总成绩</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="center aligned" id="_05">1</th>
                        <th class="center aligned" id="_06">1</th>
                        <th class="center aligned" id="_07">1</th>
                        <th class="center aligned" id="_08">1</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    取消
                </div>
                <a class="ui positive right labeled icon button"  href="#">
                    上传
                    <i class="checkmark icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="/asserts/js/jquery-3.4.1.min.js"></script>
<script src="/semantic/semantic.min.js"></script>
<script src="/asserts/js/setgrade.js"></script>
<script>
    document.getElementById("button2").style.display = "none";
</script>
</body>
</html>