<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/asserts/css/myStyle.css">
    <style>
        body
        {
            background: url("/asserts/image/background.png");
        }
    </style>
    <title>学生端后台</title>
</head>
<body>

    <div th:replace="~{common/commons :: navigation_stu}"></div>

    <div class="m-container-small m-padded-tb-massive">
        <div class="ui container">
            <div class="stackable grid">
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="left aligned column">
                                <h2 class="ui teal header"><i class="rss icon"></i> 通知中心</h2>
                            </div>
                            <div class="right aligned column">
                                共<h2 class="ui blue header m-inline-block m-text-thin"> 5 </h2>条通知
                            </div>
                        </div>
                    </div>
                    <div class="ui attached segment" >
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui twelve wide column">
                                    <h3 class="ui header" > <a href="#" style="color: black">转专业截止通知</a> </h3>
                                    <p class="m-text-mini" style="color: dimgrey !important; text-align: left !important;">
                                       各位同学，接教务处通知，2020级全体本科生转专业申请截止时间已经确定为5月8日...
                                    </p>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="/asserts/image/avatar.jpg"
                                                    class="ui avatar image"
                                                    width="10" height="10">
                                                    <div class="content">
                                                        <div class="header">王鹏</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> <span>2020-8-1</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="two wide column">
                                            <div class="ui red label m-padded-tb-small">紧急</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui four wide column">
                                    <a href="#" target="_blank">
                                        <img src="asserts/image/favicon.jpg"
                                            class="ui rounded image"
                                        width="75" height="75">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui twelve wide column">
                                    <h3 class="ui header" > <a href="#" style="color: black">转专业截止通知</a> </h3>
                                    <p class="m-text-mini" style="color: dimgrey !important; text-align: left !important;">
                                        各位同学，接教务处通知，2020级全体本科生转专业申请截止时间已经确定为5月8日...
                                    </p>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="/asserts/image/avatar.jpg"
                                                         class="ui avatar image"
                                                         width="10" height="10">
                                                    <div class="content">
                                                        <div class="header">王鹏</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> <span>2020-8-1</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="two wide column">
                                            <div class="ui red label m-padded-tb-small">紧急</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui four wide column">
                                    <a href="#" target="_blank">
                                        <img src="asserts/image/favicon.jpg"
                                             class="ui rounded image"
                                             width="75" height="75">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui twelve wide column">
                                    <h3 class="ui header" > <a href="#" style="color: black">转专业截止通知</a> </h3>
                                    <p class="m-text-mini" style="color: dimgrey !important; text-align: left !important;">
                                        各位同学，接教务处通知，2020级全体本科生转专业申请截止时间已经确定为5月8日...
                                    </p>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="/asserts/image/avatar.jpg"
                                                         class="ui avatar image"
                                                         width="10" height="10">
                                                    <div class="content">
                                                        <div class="header">王鹏</div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> <span>2020-8-1</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="two wide column">
                                            <div class="ui red label m-padded-tb-small">紧急</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui four wide column">
                                    <a href="#" target="_blank">
                                        <img src="asserts/image/favicon.jpg"
                                             class="ui rounded image"
                                             width="75" height="75">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div th:replace="~{common/commons :: footer}"></div>

    <script src="/asserts/js/jquery-3.4.1.min.js"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script>
        $('.ui.dropdown').dropdown(
            {on : 'hover'}
        );
    </script>
</body>
</html>