<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/asserts/css/myStyle.css">
	<style>
		body
		{
			background-color: #F7EED6;
		}
	</style>
	<title>密码重设</title>
</head>
<body>
	<div th:replace="~{common/commons :: navigation_stu}"></div>

	<div class="m-container-medium m-padded-tb-massive" style=" max-height: 40em !important">
		<div class="ui container">
			<div class="ui middle aligned center aligned grid m-padded-tb-big">
					<form class="ui large form" method="post" th:object="${session.student.educationalInfo}" th:action="@{/stu/safety-verify}">
						<div class="ui stacked segment m-padded-tb-big">
							<div class="field">
								<span class="m-text-big">  要继续，请您先验证邮箱和原密码。:)</span>
							</div>
							<br>
							<br>
							<div class="ui warning message" th:unless="${#strings.isEmpty(error)}">
								<i class="close icon"></i>
								<div class="header">验证失败！</div>
								<p th:text="${error}">信息</p>
							</div>
							<div class="ui middle aligned center aligned grid">
								<div class="three wide column"></div>
								<div class="six wide column">
									<div class="field">
										<div class="ui left icon input">
                                            <i class="at icon"></i>
											<input type="text" th:value="*{email}" readonly>
										</div>
									</div>
									<div class="field">
										<div class="ui left icon input">
                                            <i class="lock icon"></i>
											<input type="password" name="password" placeholder="原密码">
										</div>
									</div>
								</div>
								<div class="three wide column"></div>
							</div>
                            <br>
                            <br>
                            <div class="field">
                               <button class="ui large green button" type="submit">验证</button>
                            </div>
                            <div class="field">
                                <a class="ui large red button" href="#" onclick="window.history.go(-1)">取消</a>
                            </div>
						</div>
					</form>
			</div>
		</div>
	</div>

	<div th:replace="~{common/commons :: footer}"></div>
	<script src="/asserts/js/jquery-3.4.1.min.js"></script>
	<script src="/semantic/semantic.min.js"></script>
</body>
</html>