<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/asserts/css/myStyle.css">
    <style>
        body
        {
            background-color: #F7EED6;
        }
    </style>
    <title>学籍信息</title>
</head>
<body>

<div class="m-container-medium m-padded-tb-massive">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="ui top attached segment">
                <div class="ui  middle aligned two column grid">
                    <div class="left aligned column">
                        <h2 class="ui header">添加学生</h2>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <form class="ui form" method="post" id="form" th:action="@{/admin/add-stu}" enctype="multipart/form-data">
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <h4 class="ui dividing grey header">基本身份信息</h4>
                        <div class="ui stackable grid mobile reversed">
                            <div class="twelve wide column">
                                <div class="ui padded vertical segment m-padded-tb-mini">
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="field">
                                                <label>姓</label>
                                                <input type="text" name="personalInfo.familyName">
                                            </div>
                                            <div class="field">
                                                <label>名</label>
                                                <input type="text" name="personalInfo.givenName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div class="field">
                                            <label>性别</label>
                                            <select class="ui fluid dropdown" name="personalInfo.gender">
                                                <option value="MALE">男</option>
                                                <option value="FEMALE">女</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>年龄</label>
                                            <input type="text" name="personalInfo.age">

                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>证件号码</label>
                                        <div class="ui left labeled input">
                                            <div class="ui dropdown label">
                                                <input type="hidden" name="personalInfo.certificate.certificateClass">
                                                <div class="text">中华人民共和国居民身份证</div>
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    <div class="item"  th:data-value="${NATIONAL_ID_CARD}">中华人民共和国居民身份证</div>
                                                    <div class="item"  th:data-value="${SAR_ID_CARD}">香港/澳门特别行政区身份证</div>
                                                    <div class="item" th:data-value="${PERMANENT_RESIDENCE_CARD}"> 外国人永久居留证</div>
                                                    <div class="item" th:data-value="${PASSPORT}">护照</div>
                                                </div>

                                            </div>
                                            <input type="text" name="personalInfo.certificate.certificateId"/>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>籍贯</label>
                                        <input type="text" name="personalInfo.birthPlace">
                                    </div>
                                </div>
                            </div>
                            <div class="four wide center aligned column">
                                <img src="/asserts/image/avatar.jpg"
                                     style="width: 200px !important;">

                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <h4 class="ui dividing grey header">学籍信息</h4>
                        <div class="three fields">
                            <div class="field">
                                <label>学号</label>
                                <input type="text" name="educationalInfo.Id">
                            </div>
                            <div class="field">
                                <label>院系</label>
                                <input type="text" name="educationalInfo.school">
                            </div>
                            <div class="ui field">
                                <label>行政班级</label>
                                <input type="text" name="educationalInfo.adminClass">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>入学时间</label>
                                <input type="text" name="educationalInfo.enrollDate">
                            </div>
                            <div class="field">
                                <label>预计结业时间</label>
                                <input type="text" name="educationalInfo.graduateDate">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>电子邮箱地址</label>
                                <input type="text">
                            </div>
                            <div class="field">
                                <label>联系电话</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="field">
                            <label>
                                备注
                                <textarea name="educationalInfo.remark"></textarea>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
							<span class="m-text-mini" style="color: #9f3a38!important;">
							请注意，学生一旦添加，信息将不能被管理员再次修改！请慎重！
							</span>
                    </div>
                    <div class="ui right aligned column">
                        <button class="ui large green button" id="submit-btn">添加</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:replace="~{common/commons :: footer}"></div>
<script src="/asserts/js/jquery-3.4.1.min.js"></script>
<script src="/semantic/semantic.min.js"></script>

<script>
    $('.ui.dropdown').dropdown(
        {on : 'hover'}
    );
    $('#submit-btn').click(function () {
        $('#form').submit();
    });
</script>
<script>
    $('.ui.form').form(
        {
            fields :
                {
                    personalInfo :
                        {
                            identifier : 'pesonalInfo.'
                        }

                }
        }
    )
</script>
</body>
</html>